  .App {
      font-family: sans-serif;
      text-align: center;
    }

  body{
      background-color: black;
  }  

  .crop {
    width: screen;
    height: auto;
    overflow: hidden;
    
  }

  .crop img {
    width: 110%;
    height: auto;
    margin: -75px 0 0 -80px;
    opacity: 50%;
  }

  h1 {
    color: white;
    z-index: 3;
    top: 0;
    position: fixed;
    margin: 0.5rem;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    color: white;
    font-size: 70px;
    top: 35%;
    left: 25%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black;
  }
  
  #howTo h3 {
    color: white;
    text-align: left;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    position: static;
  }

  #opening p {
    color: white;
    left: 25.5%;
    top: 52%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
  }

  nav {
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
    z-index: 2;
  }
  
  nav li {
    list-style: none;
    display: inline-block;
    margin-right: 3rem;
    z-index: 3;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  #howTo li {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 2rem;
  }

  #howTo p{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: left;
    margin-top: -3rem;
    margin-bottom: 5rem;;
  }

  #howTo {
    margin: 10rem;
  }

  #howTo img{
    float: right;
    margin-right: 15rem;
    margin-top: -10rem;
  }

  #textWrap{
    margin-top: -3rem;
  }

  hr {
    margin-top: 5rem;
  }

  